@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e3138;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 50vw;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

ul li {
    position: relateive;
    list-style: none;
}

ul li a {
    position: relative;
    font-size: 6vh;
    font-weight: bold;
    text-decoration: none;
    line-height: 5vh;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: transparent;
    overflow: hidden;
    opacity: 0;
}

ul li a:hover::before {
    -webkit-animation: fadeIn 0.5s;
    -webkit-text-stroke: 1px var(--color);
    filter: drop-shadow(0 0 1vh var(--color));
    opacity: 1;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
