<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drew Abbott</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
    <div class = "container">
      <ul>
	<li style="--color:#4cc9f0"><a href="#" data-text="Resume">Resume</a></li>
	<li style="--color:#c7f2a7"><a href="#" data-text="Blog">Blog</a></li>
	<li style="--color:#e2b6cf"><a href="#" data-text="Photos">Photos</a></li>
	<li style="--color:#f79256"><a href="#" data-text="Tracking">Tracking</a></li>
	<li style="--color:#E3D26F"><a href="#" data-text="Contact">Contact</a></li>
  </body>
</html>
